header {
    display: flex;
    align-items: center;
    justify-content: center; /* Center items horizontally */
}

.logo-container {
    margin-top: 40px;
    margin-left: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center; /* Center items horizontally */
}

ul li {
    margin-top: 40px;
    margin-left: 10px;
}

.main-container {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 60%;
    text-align: center; /* Center the content inside the container */
}

.list-container {
    margin: 20px auto; /* Center the container horizontally */
    display: flex;
    flex-direction: column; /*
